<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964775051166-8vq6o5p4s03ocl9haaiai2moj3pfscft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964775051166-8vq6o5p4s03ocl9haaiai2moj3pfscft</string>
	<key>API_KEY</key>
	<string>AIzaSyAC7XlofD2aoaT0qZPeHIozRWw-vBcrsOk</string>
	<key>GCM_SENDER_ID</key>
	<string>964775051166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gratias.lms</string>
	<key>PROJECT_ID</key>
	<string>bootcamplms</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamplms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964775051166:ios:08997c416aa3faa02c608f</string>
</dict>
</plist>